<modal class="basic-information-form-modal" #objectiveFormModal>
    <div class="modal-body">
        <button type="button" class="close-btn" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        <div >
            <h5 class="form-title text-center mb-3" id="exampleModalLongTitle">Please enter objective.</h5>
        </div>
            <form class="basic-informaton-form" [formGroup]="objectiveForm" (ngSubmit)="submitObjectiveForm(objectiveForm.value)">
                <div class="input-group mb-3">
                    <textarea  class="form-control" rows="10" formControlName="objective" placeholder="Write Objective..."></textarea>
                </div>
                <button type="submit" class="btn submit-btn float-right">submit</button>
            </form>
    </div>
  </modal>