.left-panel-nav{
    .nav-item{
        width: 190px;
        margin: 20px auto;
        border: 2px solid #e91e63;
        cursor: pointer;
        img{
            width: 100%;
            pointer-events: none;
        }
    }
}




