
<div class="left-panel-nav">
    <div class="nav-item" [routerLink]="['/cv-1']" >
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
    <div class="nav-item" [routerLink]="['/cv-2']">
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
    <div class="nav-item" [routerLink]="['/cv-2']">
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
    <div class="nav-item" [routerLink]="['/cv-2']">
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
    <div class="nav-item" [routerLink]="['/cv-2']">
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
    <div class="nav-item" [routerLink]="['/cv-2']">
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
    <div class="nav-item" [routerLink]="['/cv-2']">
        <img src="./assets/images/cv-item/1.jpg" alt="nav-item-1">
    </div>
</div>


